*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Oswald', sans-serif;
	background-color: #fefefe;
	font-size: 16px;
}

main h1{
	text-align: center;
}

.menu-btn{
	position: absolute;
	cursor: pointer;
	top: 0.8em;
	right: 1em;
	font-size: 1.125rem;
	z-index: 2;
	opacity: 0;

}

.contenedor{
	width: 90%;
	margin: auto;
	background-color: #d8e8ff;
	max-width: 1024px;
}

.menu-principal{
	background-color: #071822;
	font-size: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 3.5rem;
	padding: 0.5rem;
}


.menu-principal__escudo{
	width: 15%;
	height: 100px;
	background: linear-gradient(180deg, #071822, #003F8D, #3f87a6);
	border-radius: 1em;
	box-shadow: 7px 10px 10px black;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 0.5em;
}

.menu-principal__escudo__logo{
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.menu-principal__escudo__logo img{
	width: 75%;
	height: 75%;
}

.menu-principal__titulos{
	display: flex;
	flex-direction: column;
}

.municipalidad{
	color: white;
	font-size: 0.6rem;
	text-align: center;
}

.ciudad{
	color: white;
	font-weight: bold;
	font-size: 0.7rem;
	text-align: center;
}

.gestion{
	background-color: white;
	color: #005ED4;
	font-size: 0.7rem;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}

.menu-principal__logo{
	text-align: center;
}

.menu-principal__logo img{
	width: 0px;
}

.menu-principal__opciones{
	display: flex;
	flex-direction: row;
	list-style: none;
}

.menu-principal__opciones li{
	padding: 0.5rem;
}

.menu-principal__opciones a:hover{
	border-bottom: 2px solid white;
	background: #3c405b;
}

.menu-principal__opciones a{
	color: white;
	text-decoration: none;
}

.contenedor-slogan{
	background: url(../imagen/portadahuaytapallana.jpg) no-repeat center center/cover;
	width: 100%;
	height: 200px;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 0px 100px;
}

.contenedor-slogan__titulo{
	padding-top: 1em;
	font-size: 6rem;
	color: rgba(225, 225, 225, 0.6);
}

.cuerpo{
	background: ;
}

.cuerpo__descripcion{
	padding: 20px;
	margin: 20px;
	text-align: center;
}

.mapa{
	text-align: center;
	background: #071822;
}

iframe{
	padding: 20px;
	width: 90%;
	height: 400px;
	border-radius: 30px;
}

.direccion{
	background: #29355f;
	color: white;
	margin: 20px 180px 20px 180px;
	padding: 10px;
	align-items: center;
	border-radius: 10px;
	box-shadow: 3px 3px 35px gray;
}

.ubicacion__elemento{
	display: grid;
	grid-template-columns: 0.5fr 3fr;
	padding: 10px;
}

.ubicacion__icon{
	text-align: center;
}

.sedes{
	padding: 20px;
}

.sede__titulo{
	margin-top: 20px;
	
}

.sedes hr{
	width: 90%;
	margin-left:5% ;
	height: 5px;
	background: #29355f;
	margin-bottom: 30px;

}

.sede__contenedor{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 10px;
	margin: 10px 30px 10px 30px;
	
}



.sede__elemento{
	background: white;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 3px 3px 35px gray;
}

.sede__subtitulo{
	text-align: center;
	padding: 10px;
}

footer{
	background: #6b0404;
	color: white;
	text-align: center;
	font-size: 1.5rem;
}

footer #contenedor-imagen{
	width: 20%;
	margin: auto;
	padding-top: 3rem;
}

footer #contenedor-imagen img{
	width: 75%;
	border-radius: 5%;
}



@media (max-width: 840px){

	.menu-principal__escudo{
		width: 20%;
	}

	.direccion{
		margin: 20px 80px 20px 80px;
	}
}


@media (max-width: 640px){

	.menu-btn{
		color: white;
		opacity: 100;
		right: 2.5em;
		top: 0.5em;

	}

	.menu-btn:hover{
		opacity: 0.7;
	}

	.municipalidad{
		font-size: 0.45rem;
	}
	.ciudad{
		font-size: 0.55rem;
	}
	.gestion{
		font-size: 0.5rem;
	}
	
	.menu-principal__escudo{
		width: 25%;
	}

	.menu-principal__logo img{
		width: 200px;
	}


	.menu-principal__opciones{
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		background: #582D1F;
		width: 50%;
		height: 100%;
		border-right: #ccc 1px solid;
		opacity: 0.9;
		padding: 2rem;
		transform: translateX(-500px);
		transition: transform 0.5s ease-in-out;
	}

	.menu-principal__opciones.show{
		transform: translateX(-2rem);
	}

	.menu-principal__opciones li{
		padding: 20px;
		border-bottom: #ccc solid 1px;
		font-size: 14px;
	}

	.contenedor-slogan__titulo{
		font-size: 4rem;
		padding-top: 2em;
	}

	.contenedor-slogan{
		height: 200px;
	}

	.contenedor-slogan__titulo{
		font-size: 3rem;
		padding-top: 3em;
	}

	.sede__contenedor{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.direccion{
		margin: 20px 40px 20px 40px;
	}
}
